{% extends 'layout/base.html' %}
{% block title %} Pagar {% endblock %}

{% block etapas %} 

{% endblock %}
{% block main %}

    <main class="main mod-full">
        <div class="container py-4 py-sm-5">
            <div class="row">
                <div class="col-12 px-4 mb-4">
                    <h1>Pronto! Sua solicitação foi realizada com sucesso ;-)</h1>
                </div>
                <div class="col-12 px-4">
                    <div class="flex-icon mb-4 mb-sm-5">
                        <i class="las la-check-circle"></i>
                        <p>Assim que o pagamento for compensado, <sapan class="text-highlight">você receberá um e-mail confirmando a efetivação do seu plano.</span></p>
                    </div>
                    <div class="flex-icon">
                        <i class="las la-check-circle"></i>
                        <p>Após confirmação, <sapan class="text-highlight">você receberá um email com login e senha para acessar sua área de cliente.</span></p>
                    </div>
                </div>
                <!--
                <div class="col-12 mt-3 mt-sm-4 pe-0">
                    <picture class="img-right mod-lg">
                        <source srcset="assets/img/solicitacao-realizada.webp" type="image/webp" />
                        <img class="img-fluid" src="assets/img/solicitacao-realizada.png" alt="Sua solicitação foi realizada" />
                    </picture>
                </div>
                -->
            </div>
        </div>
    </main>
     <section class="box-footer">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <a href="https://www.eutbem.com.br" target="_blank" rel="noopener" class="btn btn-primary w-100" role="button">Ir para o site</a>
                    <p class="h5">Fiscalizado e regulado pelo Banco Central do Brasil</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block js %} 
<script>
    $(function(){
        
    });
</script>
{%endblock%}