{% extends 'layout/base.html' %}
{% block title %} Escolher Parcelas {% endblock %}

{% block etapas %} 
        <div class="box-steps">
            <h4>3 de 6</h4>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 50%" aria-label="Progresso"></div>
            </div>
        </div>
{% endblock %}
{% block main %}
        <main class="main mod-full">
            <div class="tab-content">
                <div class="container py-4 py-sm-5">
                    <!-- 15 mil -->
                        <h2 class="h3 mb-3">Escolha a melhor opção para você</h2>
                        <div id="listarParcelas"></div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <a id="btnContinuar" href="/conferir" class="btn btn-primary w-100 disabled" role="button">Conferir informações</a>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-12">
                            <a id="btnVoltar" href="/valorCarta" class="btn btn-primary w-100" role="button">Voltar</a>
                        </div>
                    </div>
                </div>
            </div>

        </main>  


 
{% endblock %}
{% block js %} 
<script>
    var segmento = '{{ssegmento}}';
    var carta = '{{scarta}}';

</script>
<script src="{{url_for('static', filename='js/parcelas.js')}}"></script> 
{%endblock%}